Package: alphamonagent
Version: 0.0-1
Section: base
Priority: optional
Architecture: armhf
Maintainer: Sameer <tsameerc@gmail.com>
Description: Agent to support device discovery and reporting of AlphaMon
